body{
	background-image:url("https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg");
	
}
@media only screen and (max-width:1000px) {
	.section_main{
		display:block !important;
		margin-left: auto;
		margin-right: auto;
		
	}
	.section_main .image{
		margin-left: 40%;
		margin-right:40%;
		
		
	}
	.navbar {
		position: relative;
		display: block;
	  }
	  
	  .dropdown {
		display: none;
		position: absolute;
		background-color: black;
		max-width:300px;
		max-height: 100px;
		box-shadow: black;
		padding:20px;
		margin-top: 10px;
		padding-right: 10px;
		padding-left: 5px;
		z-index: 1;
		margin:0;
		
	  }
	  html .navbar ul{
		  display: block !important;
		  color:black;
		  padding: 5px;
		  margin-top: 10px;
	  }
	  
	  .navbar:hover .dropdown {
		display: block;
		margin-right: 55px;
		margin-top: 35px;
		padding-left: 2px;
		padding-right: 2px;
		padding-bottom: 30px;
	}
.navbar{
	display: flex;
	justify-content: right;
	height:40px;
	margin-top: 20px;
	margin-bottom: 20px;
   
}	

	}


#section_header ul{
	display:flex;
	justify-content:flex-end;
	margin-top:0;
	padding-top:0px;
	background-color:transparent;
	width:95%;
}
.header{
	position: sticky;
	top: 0;
}

.navbar h1{
	display: flex;
	justify-content: left;
	margin-top: 20px;
	height: 0px;
	font-size: 30px;
	margin: 0px;
	margin-left: 50px;
	color: blueviolet;
	font-family: sans-serif;
}
ul li a{
text-decoration:none;
border: 1px;
margin-top: 0;
border-radius: 5px;
color: white;
margin: 50px;
font-size: 30px;
}

ul{
list-style-type:none;

}
ul a:hover{
	background-color: tomato;
}
.section_main{
	display:flex;
	justify-content: space-around;
	margin-top: 150px;
}
.information{
	text-align: center;
	font-size: xx-large;
  font-family: sans-serif;
}
.information:hover{
	color: blue;
}


	
.image img{
	
	border-radius: 180px;
	transition: width 2s, height 2s, transform 2s;
	display: block;
	height: auto;
	
}
.hi{
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	

}
.image img:hover{
	transform:rotateY(150deg);
}
 #title{
	text-align: center;
	font-size: xx-large;
	font-family: sans-serif;
	border: 1px;
	border-radius: 10px;
	color: rgba(136, 42, 8, 1);
	max-width: 40%;
	margin-left: auto;
	margin-right: auto;

}
hr{
	margin:100px 0;
}
#title:hover{
	background-color:green;
}
.image_certification{
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	border-radius: 5px;
	border-color: blueviolet;
	
}

.cetificate img{
	width:400px;
	height:400px;
	border: 1px solid #ddd;
	border-radius: 10px;

	margin:20px;

	
}


.cetificate img:hover{
	box-shadow: 0 0 4px 5px rgba(0, 240, 186, 0.5);
}
#hr{
	margin-bottom: 1px;
}
footer{
	text-align: center;
	font-family: sans-serif;
	color:black;
}
footer div{
	font-size: 50px;
	
}
footer a{
	margin: 10px;
	color:#000
}
footer h1{
	font-size:50px;
}